.gradle/
build/
bin/
gen/
module_gobandroid.xml  
project.properties
.classpath
.idea/
.project
.settings/
lint.xml
module_gobandroid.xml
monkey_scripts/
proguard/
proguard_logs/
Applaunchometer.iml
ant.properties
build.xml
local.properties
out/
proguard-project.txt
